APP_SERVER_PORT=18080
APP_DB_URL=jdbc:mysql://127.0.0.1:33077/unexamine?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
APP_DB_USERNAME=unexamine
APP_DB_PASSWORD=unexamine_local
APP_REDIS_HOST=127.0.0.1
APP_REDIS_PORT=36379
APP_FILE_STORAGE_ROOT=./data/files
APP_APPLICATION_SECRET_MASTER_KEY=replace-with-at-least-32-random-characters
APP_PREFLIGHT_ALLOW_DEVELOPMENT_DEFAULTS=false
APP_PREFLIGHT_STARTUP_ENABLED=true
APP_RELEASE_VERSION=0.1.0-SNAPSHOT
APP_ENVIRONMENT_CODE=development
APP_FRONTEND_VERSION=0.1.0-SNAPSHOT
APP_CONFIG_VERSION=development-v1
APP_ARTIFACT_SHA256=
APP_FRONTEND_SMOKE_URL=http://127.0.0.1:15173/
VITE_API_TARGET=http://127.0.0.1:18080
