<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.ai.base.mapper.AiMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.ai.base.entity.AiMessage">
        <id column="id" property="id" />
        <result column="conversation_id" property="conversationId" />
        <result column="role_type" property="roleType" />
        <result column="content_text" property="contentText" />
        <result column="structured_content_json" property="structuredContentJson" />
        <result column="model_usage_json" property="modelUsageJson" />
        <result column="error_code" property="errorCode" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, conversation_id, role_type, content_text, structured_content_json, model_usage_json, error_code, created_at
    </sql>

</mapper>
