<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.module.base.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.module.base.entity.Menu">
        <id column="menu_id" property="menuId" />
        <result column="system_id" property="systemId" />
        <result column="tenant_id" property="tenantId" />
        <result column="parent_id" property="parentId" />
        <result column="app_id" property="appId" />
        <result column="module_id" property="moduleId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="menu_type" property="menuType" />
        <result column="route_path" property="routePath" />
        <result column="icon" property="icon" />
        <result column="visible_flag" property="visibleFlag" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="sort_order" property="sortOrder" />
        <result column="delete_marker" property="deleteMarker" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, system_id, tenant_id, parent_id, app_id, module_id, code, name, menu_type, route_path, icon, visible_flag, enabled_flag, sort_order, delete_marker, created_by, updated_by, created_at, updated_at
    </sql>

</mapper>
