<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.module.base.mapper.ModuleRecordRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.module.base.entity.RecordRelation">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="tenant_id" property="tenantId" />
        <result column="source_record_id" property="sourceRecordId" />
        <result column="source_schema_version_id" property="sourceSchemaVersionId" />
        <result column="source_module_snapshot_id" property="sourceModuleSnapshotId" />
        <result column="source_logical_module_id" property="sourceLogicalModuleId" />
        <result column="source_field_snapshot_id" property="sourceFieldSnapshotId" />
        <result column="source_logical_field_id" property="sourceLogicalFieldId" />
        <result column="source_field_type" property="sourceFieldType" />
        <result column="source_field_scope" property="sourceFieldScope" />
        <result column="target_record_id" property="targetRecordId" />
        <result column="target_schema_version_id" property="targetSchemaVersionId" />
        <result column="target_module_snapshot_id" property="targetModuleSnapshotId" />
        <result column="target_logical_module_id" property="targetLogicalModuleId" />
        <result column="ordinal" property="ordinal" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_id, tenant_id, source_record_id, source_schema_version_id, source_module_snapshot_id, source_logical_module_id, source_field_snapshot_id, source_logical_field_id, source_field_type, source_field_scope, target_record_id, target_schema_version_id, target_module_snapshot_id, target_logical_module_id, ordinal, created_at, created_by, updated_at, updated_by, version
    </sql>

</mapper>
