<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.core.base.mapper.CoreIdempotencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.core.base.entity.Idempotency">
        <id column="id" property="id" />
        <result column="scope_type" property="scopeType" />
        <result column="scope_key" property="scopeKey" />
        <result column="idempotency_key" property="idempotencyKey" />
        <result column="request_hash" property="requestHash" />
        <result column="status" property="status" />
        <result column="response_http_status" property="responseHttpStatus" />
        <result column="response_code" property="responseCode" />
        <result column="response_body" property="responseBody" />
        <result column="locked_until" property="lockedUntil" />
        <result column="expires_at" property="expiresAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scope_type, scope_key, idempotency_key, request_hash, status, response_http_status, response_code, response_body, locked_until, expires_at, created_at, updated_at
    </sql>

</mapper>
