<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.platform.base.mapper.PlatSsoProviderVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.platform.base.entity.PlatSsoProviderVersion">
        <id column="id" property="id" />
        <result column="provider_id" property="providerId" />
        <result column="version_number" property="versionNumber" />
        <result column="protocol" property="protocol" />
        <result column="issuer" property="issuer" />
        <result column="client_id" property="clientId" />
        <result column="client_secret_ref" property="clientSecretRef" />
        <result column="protocol_config_json" property="protocolConfigJson" />
        <result column="allowed_domains_json" property="allowedDomainsJson" />
        <result column="attribute_mapping_json" property="attributeMappingJson" />
        <result column="jit_policy_json" property="jitPolicyJson" />
        <result column="mfa_policy_json" property="mfaPolicyJson" />
        <result column="callback_uris_json" property="callbackUrisJson" />
        <result column="test_status" property="testStatus" />
        <result column="test_report_json" property="testReportJson" />
        <result column="tested_at" property="testedAt" />
        <result column="tested_by_account_id" property="testedByAccountId" />
        <result column="status" property="status" />
        <result column="published_at" property="publishedAt" />
        <result column="published_by_account_id" property="publishedByAccountId" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, provider_id, version_number, protocol, `issuer`, client_id, client_secret_ref, protocol_config_json, allowed_domains_json, attribute_mapping_json, jit_policy_json, mfa_policy_json, callback_uris_json, test_status, test_report_json, tested_at, tested_by_account_id, `status`, published_at, published_by_account_id, created_at
    </sql>

</mapper>
