<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.admin.mapper.AdminUserRoleMapper">

    <select id="queryRoleUserIdGroupByRoleId" resultType="com.unique.admin.entity.po.AdminUserRole">
        select role_id,user_id
        from un_admin_user_role r
        left join un_admin_user u on u.user_id = r.user_id
        where u.status = 1
        group by role_id
    </select>
</mapper>
