<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.runtimedata.base.mapper.BizRecordIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.runtimedata.base.entity.BizRecordIndex">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="tenant_id" property="tenantId" />
        <result column="module_id" property="moduleId" />
        <result column="record_id" property="recordId" />
        <result column="query_index_id" property="queryIndexId" />
        <result column="index_key_hash" property="indexKeyHash" />
        <result column="unique_key_hash" property="uniqueKeyHash" />
        <result column="index_key_text" property="indexKeyText" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_id, tenant_id, module_id, record_id, query_index_id, index_key_hash, unique_key_hash, index_key_text, created_at, updated_at
    </sql>

</mapper>
