<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.module.mapper.ModuleMapper">


    <select id="queryPageList" resultType="java.util.Map">
        select * from un_module where 1=1
        <if test="search.keyword != null and search.keyword != ''">
            and module_name like concat('%',#{search.keyword},'%')
        </if>
        <if test="search.typeFlag != null and search.typeFlag != ''">
            and type_flag = #{search.typeFlag}
        </if>
        <if test="search.rootId != null and search.rootId != ''">
            and root_id = #{search.rootId}
        </if>
    </select>
</mapper>
