<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.module.mapper.ModuleRoleUserMapper">


    <select id="queryPageList" resultType="com.unique.module.entity.po.ModuleRoleUser">
        select * from un_module_role_user where 1=1
    </select>
    <select id="queryAllRoleUser" resultType="com.unique.core.entity.user.bo.SimpleRole">
        select umu.dept_id,umr.role_name,umr.admin_flag,umru.*
        from un_module_role_user umru
        left join un_module_user umu on umu.id = umru.user_id
        left join un_module_role umr on umr.id = umru.role_id
        where 1=1
        and umru.module_id = #{moduleId}
        <if test="userIds != null and userIds.size()>0">
            and umru.user_id in
            <foreach collection="userIds" item="userId" open="and user_id in (" close=")" separator=",">
                #{userId}
            </foreach>
        </if>
        <if test="roleId != null">
            and umru.role_id = #{roleId}
        </if>
        order by umru.user_id asc,umru.data_type desc
    </select>
</mapper>
