<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.plat.base.mapper.PlatCredentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.plat.base.entity.Credential">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="credential_type" property="credentialType" />
        <result column="password_hash" property="passwordHash" />
        <result column="password_algorithm" property="passwordAlgorithm" />
        <result column="password_parameters" property="passwordParameters" />
        <result column="failed_attempts" property="failedAttempts" />
        <result column="locked_until" property="lockedUntil" />
        <result column="password_changed_at" property="passwordChangedAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, credential_type, password_hash, password_algorithm, password_parameters, failed_attempts, locked_until, password_changed_at, created_at, updated_at, version
    </sql>

</mapper>
