<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.work.base.mapper.WorkLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.work.base.entity.WorkLog">
        <id column="id" property="id" />
        <result column="context_type" property="contextType" />
        <result column="platform_id" property="platformId" />
        <result column="system_id" property="systemId" />
        <result column="tenant_id" property="tenantId" />
        <result column="author_account_id" property="authorAccountId" />
        <result column="work_date" property="workDate" />
        <result column="title" property="title" />
        <result column="content_text" property="contentText" />
        <result column="duration_minutes" property="durationMinutes" />
        <result column="status" property="status" />
        <result column="custom_values_json" property="customValuesJson" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, context_type, platform_id, system_id, tenant_id, author_account_id, work_date, title, content_text, duration_minutes, `status`, custom_values_json, created_at, updated_at, version
    </sql>

</mapper>
