<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.dataexchange.base.mapper.ExchangeExportBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.dataexchange.base.entity.ExchangeExportBatch">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="tenant_id" property="tenantId" />
        <result column="module_id" property="moduleId" />
        <result column="mapping_id" property="mappingId" />
        <result column="job_id" property="jobId" />
        <result column="filter_snapshot_json" property="filterSnapshotJson" />
        <result column="authorization_snapshot_json" property="authorizationSnapshotJson" />
        <result column="selected_fields_json" property="selectedFieldsJson" />
        <result column="status" property="status" />
        <result column="total_rows" property="totalRows" />
        <result column="exported_rows" property="exportedRows" />
        <result column="result_file_id" property="resultFileId" />
        <result column="error_message" property="errorMessage" />
        <result column="created_by_member_id" property="createdByMemberId" />
        <result column="created_at" property="createdAt" />
        <result column="started_at" property="startedAt" />
        <result column="finished_at" property="finishedAt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_id, tenant_id, module_id, mapping_id, job_id, filter_snapshot_json, authorization_snapshot_json, selected_fields_json, `status`, total_rows, exported_rows, result_file_id, error_message, created_by_member_id, created_at, started_at, finished_at, version
    </sql>

</mapper>
