<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.flow.base.mapper.TaskActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.flow.base.entity.TaskActor">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="task_id" property="taskId" />
        <result column="actor_member_id" property="actorMemberId" />
        <result column="actor_type" property="actorType" />
        <result column="source_type" property="sourceType" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_id, task_id, actor_member_id, actor_type, source_type, status, created_at, updated_at
    </sql>

</mapper>
