<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.operations.base.mapper.OpsReleaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.operations.base.entity.OpsRelease">
        <id column="id" property="id" />
        <result column="version_name" property="versionName" />
        <result column="artifact_hash" property="artifactHash" />
        <result column="database_version" property="databaseVersion" />
        <result column="config_version" property="configVersion" />
        <result column="compatibility_json" property="compatibilityJson" />
        <result column="release_notes" property="releaseNotes" />
        <result column="status" property="status" />
        <result column="created_by_account_id" property="createdByAccountId" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version_name, artifact_hash, database_version, config_version, compatibility_json, release_notes, `status`, created_by_account_id, created_at
    </sql>

</mapper>
