<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.unexamine.system.base.mapper.SystemDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.unexamine.system.base.entity.SystemDefinition">
        <id column="id" property="id" />
        <result column="platform_id" property="platformId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="logo_file_id" property="logoFileId" />
        <result column="creator_account_id" property="creatorAccountId" />
        <result column="tenant_mode" property="tenantMode" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, platform_id, `code`, `name`, `description`, logo_file_id, creator_account_id, tenant_mode, `status`, deleted, created_at, updated_at, version
    </sql>

</mapper>
