<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.plat.base.mapper.ConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.plat.base.entity.Config">
        <id column="id" property="id" />
        <result column="config_key" property="configKey" />
        <result column="config_name" property="configName" />
        <result column="config_value" property="configValue" />
        <result column="sensitive_flag" property="sensitiveFlag" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="delete_token" property="deleteToken" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, config_key, config_name, config_value, sensitive_flag, status, remark, delete_token, created_at, updated_at
    </sql>

</mapper>
