<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.plat.base.mapper.PlatRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.plat.base.entity.RolePermission">
        <id column="id" property="id" />
        <result column="scope_type" property="scopeType" />
        <result column="scope_key" property="scopeKey" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="effect" property="effect" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scope_type, scope_key, role_id, permission_id, effect, created_at, created_by
    </sql>

</mapper>
