<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.plat.base.mapper.PlatPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.plat.base.entity.Permission">
        <id column="id" property="id" />
        <result column="scope_type" property="scopeType" />
        <result column="scope_key" property="scopeKey" />
        <result column="system_id" property="systemId" />
        <result column="permission_code" property="permissionCode" />
        <result column="name" property="name" />
        <result column="resource_type" property="resourceType" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scope_type, scope_key, system_id, permission_code, name, resource_type, status, created_at, created_by, updated_at, updated_by, version
    </sql>

</mapper>
