<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.plat.base.mapper.PlatAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.plat.base.entity.Account">
        <id column="id" property="id" />
        <result column="account_code" property="accountCode" />
        <result column="username" property="username" />
        <result column="username_normalized" property="usernameNormalized" />
        <result column="email" property="email" />
        <result column="email_normalized" property="emailNormalized" />
        <result column="phone" property="phone" />
        <result column="display_name" property="displayName" />
        <result column="locale" property="locale" />
        <result column="time_zone" property="timeZone" />
        <result column="status" property="status" />
        <result column="last_login_at" property="lastLoginAt" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted_at" property="deletedAt" />
        <result column="deleted_by" property="deletedBy" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_code, username, username_normalized, email, email_normalized, phone, display_name, locale, time_zone, status, last_login_at, created_at, created_by, updated_at, updated_by, deleted_at, deleted_by, version
    </sql>

</mapper>
