APP_SERVER_PORT=18080
APP_DB_URL=jdbc:mysql://test-mysql.internal:3306/unexamine?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
APP_DB_USERNAME=unexamine_test_service
APP_REDIS_HOST=test-redis.internal
APP_REDIS_PORT=6379
APP_FILE_STORAGE_ROOT=/srv/unexamine-test/data/files
APP_PREFLIGHT_ALLOW_DEVELOPMENT_DEFAULTS=false
APP_PREFLIGHT_STARTUP_ENABLED=true
APP_ENVIRONMENT_CODE=test
APP_CONFIG_VERSION=test-v1
APP_FRONTEND_SMOKE_URL=https://unexamine-test.example.internal/
VITE_API_TARGET=https://unexamine-test-api.example.internal
