<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unique.examine.flow.base.mapper.TraceLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unique.examine.flow.base.entity.TraceLog">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="instance_id" property="instanceId" />
        <result column="from_node_key" property="fromNodeKey" />
        <result column="to_node_key" property="toNodeKey" />
        <result column="event_type" property="eventType" />
        <result column="event_snapshot_json" property="eventSnapshotJson" />
        <result column="request_id" property="requestId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_id, instance_id, from_node_key, to_node_key, event_type, event_snapshot_json, request_id, created_at, updated_at
    </sql>

</mapper>
